<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="form.css">
    <link rel="stylesheet" href="header.css">
</head>
<body>

    <%- include('components/header') %>

    <main class="container">
         <h1 class="header-page-title">Join the Club</h1>
        <section class="form-card">

                <form action="/membership" method="post" novalidate>
                <div class="form-grid">
                    <div class="form-group full">
                        <label for="membership">Enter membership secret code <span class="req">*</span></label>
                        <input class="input" type="membership" name="membership" id="membership">
                        <% if(locals.error) {%>
                            <div class="field-error"><%=locals.error%></div>
                        <%}%>
                    </div>
            </div>
                <div class="form-actions"><button type="submit" class="btn">Submit</button></div>
            </form>
        </section>
    </main>
</body>
</html>